.Flex-Container{
    display: flex;
}

.btn{
    position: relative;
    bottom: 10px;
    background-color: rgb(71, 198, 71) !important ;
    color: white !important;
    
}

select{
    box-shadow: none !important;
    border-color: black !important;
}